h2{
	color: #007ea7;
}

p{
	line-height: 180%;
}

body {
	background: white !important;
}

.hamburger_button{
	color: white;
}

.hamburger_menu{
	display: inline-block;
	float: right;
	color: white;
	margin-right: 2rem;
}

.right_nav{
	float: right;
	margin-right: 2rem;
	color: #007ea7;
}

.wordmark:hover,
.right_nav:hover {
	color: #fe4a49;
}

.documentation_navbar{
	z-index: 1;
    box-shadow: 0px 8px 6px -6px #999;
	position: fixed;
	padding: 1.25rem 0;
	width: 100%;
}

.dark_color{
	background-color: white;
}

.light_color{
	background-color: #007ea7;
}

.inner{
	background-color: white; 
	padding: 0 2rem 2rem;
	margin-top: 68px;
}

.documentation_navbar a{
	margin-left: 2rem;
}

.sample_code{
	overflow: auto;
	width: inherit;
	background-color: #F5F7F7;
	padding: 1rem;
}


/** css for desktop view **/
@media only screen and (min-width:720px){

	.vertical_menu{
		height: 100%;
		position: fixed;
		margin-top:3.8rem;
		padding-bottom: 5rem;
		overflow: auto;
		float: left;
		display: block;
		margin-right: 2.3576515979%;
		width: 320px;
		color: white;
	}

	.vertical_menu li{
		text-align: left;
		cursor: pointer;
		margin-top: 1.5rem; 
		display: block;
	}

	.submenu{
		font-size: 70%;
		font-weight: 500;
		padding-left: 1.2rem;
		display: none;
	}
	.submenu li{
		margin-top: 0.8rem;
	}

	.vertical_menu a{
		color: black;
	}

	.sub_menu{
		font-size: 90%;
		padding-left: 1rem;
		display: none;
	}
	.wordmark{
		font-family: Comfortaa;
		letter-spacing:0.5rem;
		color: #007ea7;
	}

	.inner{
		width: calc(100% - 320px);
		margin-left: 320px;
	}

	.hamburger_menu{
		display: none;
	}

	#mobile_menu{
		display: none;
	}
}

/** css for mobile view **/
@media only screen and (max-width:719px){
	h1{
		font-size: 1.7em;
	}
	.vertical_menu{
		display: none;
	}
	.wordmark{
		font-family: Comfortaa;
		letter-spacing:0.3rem;
	}
	.inner{
		width: 100%;
	}
	
	.mobile_menu_list{
		padding-left: 0;
		margin-bottom: 6rem;
		margin-top: 0;
	}

	.mobile_menu_list li{
		margin-bottom: 2rem;
		text-align: left;
		transition: 0.5s;
		padding-left: 2.5rem;
		display: block;
	}
	.mobile_menu_list a{
		color: white;
	}
	#mobile_menu{
		background: #4c5c68 url('../images/navbar.png');
		overflow: auto;
		height: 100%;
		transition: 0.5s;
		display: block;
		position: fixed;
		color: white;
		z-index: 1;
		width: 0;
		right: 0px;
	}

	.mobile_submenu{
		transition: 0.3s;
		display: none;
	}
	.mobile_submenu li{
		padding-left: 0;
		margin-top: 1rem;
	}

	.closebtn{
		color: white;
		font-size: 3rem;
		margin-left: 85%;
	}
	
}


